.header {
    background-color: var(--clr-accent-light);
    opacity: 0.4;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.links {
    border: solid red 1px;
    list-style: none;
}

.logo {
    border: solid blue 1px;
}