.main {
    background-color: rgb(72, 158, 255);
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    border: solid rgb(116, 255, 36) 1px;
    margin: 5rem;
    height: 80vh;
}

.columns {
    border: solid red 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.columns h2 {
    border: solid red 1px;
}
